let tull = document.getElementById('tull');
let contactBtn = document.querySelector('#contact-btn');

tull.innerHTML = "<h4>Your message was sent! I will get back to you ASAP!</h4>";

setTimeout(function() { show(contactBtn)  }, 2000);
