<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Du har mottatt en melding</h1>
    <p>Sann e det!</p>
  </body>
</html>
