<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Takk for meldingen din <%= @contact.name %></h1>
    <p>Vi vil svare deg så fort vi kan. Du kan forvente et svar i løpet av 1-2 dager.</p>
  </body>
</html>
