<div class="">
  <h4>More from the blog</h4>
  <% Post.all.each do |post| %>
    <% if post.published? %>
      <%= link_to post_path(post) do %>
        <p><%= post.title %></p>
      <% end %>
    <% end %>
  <% end %>
</div>
