:root {
  --primary-color: #607D8B;
  --secondary-color: tomato;
  --tertiary-color: white;
  --nav-height: 8vh;
  --grid-gap: 5px;
}

.bg-primary {
  background-color: var(--primary-color);
}

.empty-link {
  display: block;
  width: 100%;
  height: 100%;
}

body {
  padding-left: 15px;
  padding-right: 15px;
}

.wrapper {
  display: grid;
  padding: 0 15px;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: var(--grid-gap);
}

.wrapper > * {
  grid-column: col-start / span 12;
}

.nav-item {
  color: black;
  display: inline-block;
}

.nav-link {
  color: black;
  text-decoration: none;
}

.main-nav {
  grid-area: mn;
  grid-row-start: 1;
  grid-column: col-start 1 / span 12;
  grid-row-start: 1;
  height: var(--nav-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: inline-flex;
  justify-content: space-between;
  width: 150px;
}

.logo {
  display: inline-block;
  background: url('logo2.svg');
  background-size: contain;
  width: 50px;
  height: var(--nav-height);
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
}

.main-banner {
  height: calc(100vh - var(--nav-height) - var(--grid-gap) * 2);
  display: grid;
  grid-gap: var(--grid-gap);
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.item1 {
  background-color: var(--primary-color);
  grid-column: 1 / span 6;
  grid-row: 1 / span 6;
  // width: 50%;
  // height: 100%;
}

.item2 {
  background-color: var(--secondary-color);
  grid-column: 7 / span 6;
  grid-row: 1 / span 6;
  // width: 50%;
  // height: 100%;
}

.main-title-left {
  grid-column: 1 / span 6;
  grid-row: 3 / span 1;
  position: grid-column;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.main-title-right {
  grid-column: 7 / span 6;
  grid-row: 4 / span 1;
  position: grid-column;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
}

.main-title {
  font-size: 50px;
  color: wheat;
}

.about {
  height: 100vh;
  background-color: wheat;
}

.projects {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-content {
  width: 100%;
}

.contact {
  height: 100vh;
}



.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-column: 1 / span 12;
}



h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p, span, a {
  font-family: 'open-sans', sans-serif;
}

.page-nav {
  display: none;
  height: 100vh;
  position: fixed;
  align-items: center;
  justify-content: center;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

  .wrapper {
    padding: 0;
  }

  .empty-sidebar {
    grid-column: col-start 12 / 12;
    grid-row-start: 1;
  }

  .sidebar {
    grid-area: sd;
    grid-column: 1 / 2;
    grid-row-start: 1;

  }

  .main-nav {
    grid-column: col-start 2 / span 10;
    grid-row-start: 1;
  }

  .main-content {
    grid-area: mc;
    grid-column: col-start 2 / span 10;
    grid-row-start: 2;
    display: grid;
    grid-gap: var(--grid-gap);
  }

  .page-nav {
    display: flex;
    width: calc(100% / 12 - var(--grid-gap));
  }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {



}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {





}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

 }

.collapse.show {
  width: 100vw;
  background-color: white;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.js-link {
    cursor: pointer;
}

.alert {
  margin-bottom: 0;
}

// header {
//   position: relative;
// }

.overlay {
  box-shadow: inset 0 0 0 2000px rgba(255,0,150,0.3);
  transition: .3s;
}

.white {
  color: white;
}

.black {
  color: black;
}

.push-down {
  margin-top: 50px;
}

.alert {
  height: 50px;
    width: 100vw;
}

div.required label:after {
    content: " *";
    color: red;
}

.txt-background {
  background: #ffffffc2;
}

.header-title {
  text-shadow: 1px 1px #7c7c7c;
  font-size: 2.6rem;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.hide {
  display: none !important;
}

body {
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
}





.sub-content p {
  font-size: 20px;
}

.test {
  background: #ed8000;
}

.link {
  color: black;
}

.card {
  display: flex;
  justify-content: center;
  min-height: 450px;
  min-width: 250px;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 15% 5%;
  border-radius: 5px;
}

.white {
  color: white;
}


.link:hover {
  text-decoration: none;
  color: black;
}

.clear {
  clear: both;
}

.img-border {
    border: 1px solid #cccccc6e;
}


.new-form {
  margin-top: 100px;
}

.main-btn a {
  color: black;
}

// .background {
//   z-index: 1;
//   background: white;
//   filter: blur(1px);
// }
//
.content {
  backdrop-filter: blur(10px);
}

.footer {
  height: 25vh;
  background: #282828;
}

.footer p, .footer a {
  color: white;
}

.footer .fab {
  background: white;
  color: white;
}

.social-icons {
  font-size: 2em;
  margin-top: 1%;
}


.social-icons i {
  border: 1px solid black;
}



.slanted{
  height: 400px;
  width: 100%;
  position: relative;
  background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
}
.slanted::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  bottom: 0;
  transform-origin: left bottom;
  transform: skewY(3deg);
}


.button {
  font-size: 16px;
  padding: 1% 2%;
  background: #55858f;
  border-radius: 7px;
}





button a {
  border: none;
  color: white !important;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.sub-title {
  color: #c69c18;
}

.ho p {
  color: red;
}

.button a {
  color: white;
}

.button:hover {
  background-color: #509eae;

}

.button:hover a {
  text-decoration: none;
}



@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.button-sm {
  font-size: 16pt;
  padding: 1% 3%;
  border: solid 1px black;
  background: none;
}

.uppercase {
  text-transform: uppercase;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}


.section {
  min-height: 100vh;
}

.section-inner {
  margin: 20% 0;
}

.project .row2{
  margin-top: 25%;
}

#portfolio {
  margin-top: 50px;
}

.slideImg {
  border: 1px solid #00000024;
}

.laptop-placeholder {
  position: relative;
  background: image-url('laptop.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
}

.prosjekt-col {
  height: 66.666vh;
}

.laptop-inside {
  background: image-url('muli.jpg');
  background-repeat: no-repeat;
  position: absolute;
}

.laptop-img {
  height: 75%;
  width: auto;
}

.full-height {
  min-height: 100vh;
}

.services {
  min-height: 66.666vh;
  padding: 4% 0;
  background: image-url('mountain2.jpeg');
  background-size: cover;
}

.parallax {
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.services h4, .services p, .services h1 {
  color: black;
}

.img-box {
  border: 1px solid black;
  border-radius: 33.33%;
}

.circle {
  border-radius: 50%;
  border: 2px solid black;
  height: 200px;
  max-width: 100%;
}

.macbook {
  background-image: image-url('laptop.png');
  background-size: 100%;
  repeat: no-repeat;
}

.third-height {
  min-height: 33.333vh;
}

.list-inline {
  display: inline;
}



.project-box {
  padding: 1% 3%;
}

.project-tile {
  background: white;
  padding: 5% 7%;
}

.right-place {
  display: flex;
  justify-content: flex-end;
}

.flexi {
  display: flex;
  width: 100%;
}

.middle {
  justify-content: center;
}

.mid-c {
  display: flex;
  justify-content: center;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

@media (max-width: 575px) {
  .button {
    padding: 3% 3%;
  }
}

@media (max-width: 767px) {
  .card {
    margin: 5% 0;
  }
  .card1 {
    margin-top: 0;
  }
  .services h1 {
    margin-top: 50px;
    margin-bottom: 0;
  }
  .text-center-sm {
    text-align: center;
  }
}

.flag {
 width: auto;
 height: 20px;
}

.black {
  color: black;
}

.remove-link-style:hover {
  text-decoration: none;
}

.remove-link-style {
  color: black;
}

.link {
  text-decoration: none;
}

.link {
  color: black;
}

.background-fill {
  background-repeat: no-repeat;
  background-size: cover;
}

.align-items-center {
  align-items: center;
}

.justify-items-center {
    justify-items: center;
}

.justify-self-start {
    justify-self: start;
}

.justify-self-center {
    justify-self: center;
}

.justify-self-end {
    justify-self: end;
}

.bg-yellow {
  background: yellow;
}

.bg-black {
 background-color: black;
}

.bg-fill {
  background-size: cover;
}
