<div class="footer container-fluid d-flex align-items-center justify-content-center">
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>Hans Martin Hanken © <%= Time.current.year %></p>
      <div class="social-icons">
          <p>
            <a href="https://www.linkedin.com/in/hans-martin-hanken"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.github.com/hanshank"><i class="fab fa-github"></i></a>
          </p>
      </div>
  </div>
</div>
