<footer class="footer">
  <div class="" style="display: block;">
    <p>Hans Martin Hanken © <%= Time.current.year %></p>
  </div>
  <div class="social-icons">
      <p>
        <a href="https://www.linkedin.com/in/hans-martin-hanken"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.github.com/hanshank"><i class="fab fa-github"></i></a>
      </p>
  </div>
</footer>
